<!-- my-events.component.html -->

<div class="container-fluid mt-6">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">My Events</h5>
                    <!-- my-events.component.html -->

                    <div *ngIf="loggedInUser">
                        <h6>Welcome, {{ loggedInUser.first_name }} {{ loggedInUser.last_name }}</h6>

                        <div *ngIf="!isResultLoaded">
                            <h1>Loading...</h1>
                        </div>

                        <div *ngIf="isResultLoaded && userEvents.length === 0">
                            <p>No events found for this user.</p>
                        </div>

                        <div *ngIf="isResultLoaded && userEvents.length > 0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let event of userEvents; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ event.event_name }}</td>
                                        <td>{{ event.start_date | date: 'medium' }}</td>
                                        <td>{{ event.end_date | date: 'medium' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div *ngIf="!loggedInUser">
                        <p>You are not logged in.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>