<div class="profile-container" *ngIf="userProfile; else noUser">
  <div class="profile-card">
    <div class="profile-header">
      <h2 class="profile-heading">My Profile</h2>
    </div>
    <div class="profile-body">
      <div class="profile-image-container">
        <img *ngIf="userProfile.employee_image" [src]="imageBaseUrl + userProfile.employee_image" alt="Profile Image" class="profile-image">
        <p *ngIf="!userProfile.employee_image" class="no-image-text">No image available</p>
      </div>
      <div class="profile-details">
        <div class="profile-item" *ngFor="let item of profileItems">
          <div class="profile-label">{{ item.label }}:</div>
          <div class="profile-value">{{ userProfile[item.value] }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noUser>
  <div class="error-container">
    <p class="error-message">{{ errorMessage }}</p>
  </div>
</ng-template>
