<div class="org-chart" *ngIf="!isLoading && hierarchy">
  <ul>
    <li>
      <div class="user">
        <img [src]="'http://localhost:8085/uploads/' + hierarchy.employee_image" alt="{{ hierarchy.employee_name }}" class="employee-image">
        <div class="name">{{ hierarchy.employee_name }}</div>
        <div class="role">{{ hierarchy.employee_role }}</div>
      </div>
      <ul>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: hierarchy.children }"></ng-container>
      </ul>
    </li>
  </ul>
</div>

<ng-template #recursiveList let-children>
  <li *ngFor="let child of children">
    <div class="user">
      <img [src]="'http://localhost:8085/uploads/' + child.employee_image" alt="{{ child.employee_name }}" class="employee-image">
      <div class="name">{{ child.employee_name }}</div>
      <div class="role">{{ child.employee_role }}</div>
    </div>
    <ul *ngIf="child.children">
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: child.children }"></ng-container>
    </ul>
  </li>
</ng-template>
