<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3 class="ml-2">Welcome,<br> {{ firstName }} {{ lastName }} !</h3>
        </div>

        <div class="weather">
            <div *ngIf="weather">
                <p>{{ weather.name }}: {{ weather.weather[0].description }}</p>
                <p>Temperature: {{ weather.main.temp }}&#8451;</p>
                <img *ngIf="weather.weather[0].main === 'Clear'" src="path/to/sunny-icon.png" alt="Sunny">
                <img *ngIf="weather.weather[0].main === 'Rain'" src="path/to/rainy-icon.png" alt="Rainy">
                <!-- Add more conditions and icons as needed -->
            </div>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#CalendarSubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Calendar</a>
                <ul class="collapse list-unstyled" id="CalendarSubmenu">
                    <li>
                        <a routerLink="/Manager/Calendar" class="nav-link">Calendar</a>
                    </li>
                    <li>
                        <a routerLink="/Manager/Add-event" class="nav-link">Add-event</a>
                    </li>
                </ul>
            </li>
            <li>

            </li>
            <li>
                <a routerLink="/Manager/Hierarchy">Hierarchy</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> <!-- Profile icon -->
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLink="/Manager/MyProfile">My Profile</a>
                                <a class="dropdown-item" routerLink="/Manager/MyEvents">My Events</a>
                                <a class="dropdown-item" routerLink="/Manager/ChangePassword">Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" routerLink="/Login">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <router-outlet></router-outlet>
    </div>
</div>