<div class="container mt-6 mb-3">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Contracts</h5>
                    <p class="card-text">Total: </p>
                    <button class="btn btn-outline-primary" >Export to Excel</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Contracts close to completion</h5>
                    <p class="card-text">Total: {{ contractsCloseToCompletionCount }}</p>
                    <button class="btn btn-outline-primary" >Export to
                        Excel</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Expired Contracts</h5>
                    <p class="card-text">
                        Total:  <br>
                        Users:
                    </p>
                    <ul class="list-unstyled">
                        <li >
                           
                        </li>
                    </ul>
                    <button class="btn btn-outline-primary" >Export to Excel</button>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="container-fluid mt-6"> <!-- Use container-fluid for full-width -->
    <div class="row justify-content-center">
        <div class="col-lg-10"> <!-- Change the column size to a larger value, like col-lg-10 -->
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Contract Management</h5>
                </div>
                <div class="card-body">
                    <!-- Show the form only when `showForm` is true -->
                    <div *ngIf="showForm">
                        <!-- Your form code goes here -->
                        <form (ngSubmit)="save()" style="width: 50%; margin: 0 auto;">
                            <a class="btn btn-outline-secondary float-right mb-1" (click)="goBack()">Go Back</a>
                            <div class="form-group">
                                <label>Role</label>
                                <input type="text" [(ngModel)]="user_role" name="role" class="form-control"
                                    id="role">
                            </div>
                            <button type="submit" class="btn btn-outline-success btn-block">Submit</button>
                        </form>
                    </div>
                    <!-- Show the table only when `showTable` is true -->
                    <div *ngIf="showTable">
                        <!-- Button to toggle form visibility -->
                        <div class="d-flex justify-content-between mb-2">
                            <button class="btn btn-outline-primary" (click)="toggleFormVisibility()">Create New Role</button>
                            <!-- Search input field -->
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Search by name"
                                    [(ngModel)]="searchKeyword" (input)="search()">
                            </div>
                        </div>
                        <!-- Table to display Users data -->
                        <table class="table table-striped table-bordered table-hover" style="width: 100%;">
                            <thead>
                                <!-- Loading indicator if data is not yet loaded -->
                                <tr *ngIf="!isResultLoaded">
                                    <th colspan="10">
                                        <h1>Loading...</h1>
                                    </th>
                                </tr>
                                <!-- Table headers -->
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Loop through Users data and display in table rows -->
                                <tr *ngFor="let RoleItem of pagedRoleArray; let i = index">
                                    <!-- Index column -->
                                    <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
                                    <!-- Users data columns -->
                                    <td>{{ RoleItem.user_role }}</td>
                                    <!-- Action buttons -->
                                    <td>
                                        <button type="button" class="btn btn-outline-success mr-1"
                                            (click)="setUpdate(RoleItem)">Edit</button>
                                        <button type="button" class="btn btn-outline-danger"
                                            (click)="setDelete(RoleItem)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- Pagination -->
                        <mat-paginator [length]="RoleArray.length" [pageSize]="pageSize"
                            (page)="pageChanged($event)"></mat-paginator>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>