<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Calendar Management</h3>
        </div>

        <ul class="list-unstyled components">
                    <li>
                        <a routerLink="/SuperAdminPanel/Calendar" class="nav-link">Calendar</a>
                    </li>
            <li>
                <a href="#HierarchySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Hierarchy</a>
                <ul class="collapse list-unstyled" id="HierarchySubmenu">
                    <li>
                        <a routerLink="/SuperAdminPanel/Add-Hierarchy">Add</a>
                    </li>
                    <li>
                        <a routerLink="/SuperAdminPanel/Show-Hierarchy">Show</a>
                    </li>
                </ul>
            </li>
            <!-- <li>
                <a routerLink="/SuperAdminPanel/Users" class="nav-link">Users</a>
            </li>
            <li>
                <a routerLink="/SuperAdminPanel/Role">Role</a>
            </li> -->
            <li>
                <a href="#CreateSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Create</a>
                <ul class="collapse list-unstyled" id="CreateSubmenu">
                    <li>
                        <a routerLink="/SuperAdminPanel/Users" class="nav-link">Users</a>
                    </li>
                    <li>
                        <a routerLink="/SuperAdminPanel/Event">Event</a>
                    </li>
                    <li>
                        <a routerLink="/SuperAdminPanel/Role">Role</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- <ul class="list-unstyled CTAs">
            <li>
                <a href="" class="download">Download source</a>
            </li>
            <li>
                <a href="" class="article">Back to article</a>
            </li>
        </ul> -->
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                    </ul>
                </div>
            </div>
        </nav>

        <router-outlet></router-outlet>
    </div>
</div>