<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3 class="ml-2">Welcome,<br> {{ firstName }} {{ lastName  }}  !</h3>
        </div>

        
        
        

        <ul class="list-unstyled components">
            <li>
                <a routerLink="/SuperAdminPanel/Calendar" class="nav-link">Calendar</a>
            </li>
            <li>
                <a routerLink="/SuperAdminPanel/Show-Hierarchy" class="nav-link">Hierarchy</a>
            </li>
            <!-- <li>
                <a href="#HierarchySubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Hierarchy</a>
                <ul class="collapse list-unstyled" id="HierarchySubmenu">
                    <li>
                        <a routerLink="/SuperAdminPanel/Show-Hierarchy">Show</a>
                    </li>
                </ul>
            </li> -->
            <li>
                <a href="#CreateSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Create</a>
                <ul class="collapse list-unstyled" id="CreateSubmenu">
                    <li>
                        <a routerLink="/SuperAdminPanel/Users" class="nav-link">Users</a>
                    </li>
                    <li>
                        <a routerLink="/SuperAdminPanel/Event">Event</a>
                    </li>
                    <li>
                        <a routerLink="/SuperAdminPanel/Role">Role</a>
                    </li>
                    <li>
                        <a routerLink="/SuperAdminPanel/View-Calendar">View Calendar List</a>
                    </li>
                    <li>
                        <a routerLink="/SuperAdminPanel/Email">Email</a>
                    </li>
                    <li>
                        <a routerLink="/SuperAdminPanel/Library-Add">Library Add</a>
                    </li>
                </ul>
            </li>
        </ul>
        
        <!-- <ul class="list-unstyled CTAs">
            <li>
                <a href="" class="download">Download source</a>
            </li>
            <li>
                <a href="" class="article">Back to article</a>
            </li>
        </ul> -->
        <div class="weather-container">
            <div class="weather" *ngIf="weather">
              <h2>{{ weather.name }}</h2>
              <p class="weather-description">{{ weather.weather[0].description }}</p>
              <p class="temperature">{{ weather.main.temp }}&#8451;</p>
              <div class="weather-icon">
                <img *ngIf="weather.weather[0].main === 'Clear'" src="assets/sunny-icon.png" alt="Sunny">
                <img *ngIf="weather.weather[0].main === 'Rain'" src="assets/rainy-icon.png" alt="Rainy">
                <img *ngIf="weather.weather[0].main === 'Clouds'" src="assets/cloudy-icon.png" alt="Cloudy">
                <img *ngIf="weather.weather[0].main === 'Thunderstorm'" src="assets/thunderstorm-icon.png" alt="Thunderstorm">
                <img *ngIf="weather.weather[0].main === 'Snow'" src="assets/snow-icon.png" alt="Snow">
                <img *ngIf="weather.weather[0].main === 'Mist'" src="assets/mist-icon.png" alt="Mist">
                <!-- Add more conditions and icons as needed -->
                <img *ngIf="weather.weather[0].main !== 'Clear' && weather.weather[0].main !== 'Rain' && 
                             weather.weather[0].main !== 'Clouds' && weather.weather[0].main !== 'Thunderstorm' &&
                             weather.weather[0].main !== 'Snow' && weather.weather[0].main !== 'Mist'"
                     src="assets/other-weather-icon.png" alt="Other Weather">
              </div>
            </div>
            <div *ngIf="!weather">Loading weather data...</div>
          </div>
          
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!-- <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button> -->
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> <!-- Profile icon -->
                            </a>


                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLink="/SuperAdminPanel/MyProfile">My Profile</a>
                                <a class="dropdown-item" routerLink="/SuperAdminPanel/MyEvents">My Events</a>
                                <a class="dropdown-item" routerLink="/SuperAdminPanel/ChangePassword">Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" (click)="logout()" href="#">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <router-outlet></router-outlet>
    </div>
</div>