/* Container for content */
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  margin-top: -120px;
}

.change-password-container {
  max-width: 400px;
  width: 100%; /* Ensure full width on smaller screens */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 20px; /* Optional: Space between forms */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: calc(100% - 16px); /* Adjust input width to account for padding */
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Snackbar styles (optional) */
.success-snackbar {
  background-color: #28a745 !important;
}

.error-snackbar {
  background-color: #dc3545 !important;
}
