<div #modal class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Add Event</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title:</label>
        <select id="title" [(ngModel)]="event_name" name="title" required>
          <option value="" disabled selected>Select One</option>
          <option *ngFor="let event of EventArray" [value]="event.event_name">{{ event.event_name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="start">Start Date:</label>
        <input type="datetime-local" id="start" [(ngModel)]="start_date" name="start" required>
      </div>
      <div class="form-group">
        <label for="end">End Date:</label>
        <input type="datetime-local" id="end" [(ngModel)]="end_date" name="end">
      </div>
      <button type="submit" class="submit-btn">Add Event</button>
    </form>
  </div>
</div>
